resources/clinvar_public_1.17.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.17; April 3, 2015">
        <xs:element name="ReleaseSet" type="ReleaseType"/>        
	<xs:element name="ClinVarSet" type="PublicSetType">
		<xs:annotation>
			<xs:documentation>The ClinVarSet is used to group the aggregate record (RCV accession)
			with the submissions underlying it (SCV accessions) 
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ClinVarAssertion" type="MeasureTraitType"/>
	<xs:annotation>
		<xs:documentation>The ClinVarAssertion is the package of data as received from the submitter. During integration with other submissions,
			the content may have been mapped to controlled values.
		</xs:documentation>
	</xs:annotation>
	<xs:element name="ReferenceClinVarAssertion" type="ReferenceAssertionType"/>
	<xs:simpleType name="typeStatus">
		<xs:restriction base="xs:string">
		<xs:enumeration value="current"/>
		<xs:enumeration value="completed and retired"/>
		<xs:enumeration value="delete"/>
		<xs:enumeration value="in development"/>
		<xs:enumeration value="reclassified"/>
		<xs:enumeration value="reject"/>
		<xs:enumeration value="secondary"/>
		<xs:enumeration value="suppressed"/>
		<xs:enumeration value="under review"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="XrefType">
		<xs:annotation>
			<xs:documentation>This structure is used to represent how an object described in the submission relates to objects in other databases.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DB" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The name of the database. When there is an overlap with sequence
				databases, that name is used.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>The identifier used by the database.  Being exported
				as a string even though internally the database has rules for defining
				which datases use integer identifers.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to differentiate between different types of identifers
				that a database may provide.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="URL" type="xs:anyURI" use="optional"/>
		<xs:attribute name="Status" use="optional" default="current" type="typeStatus"/>
	</xs:complexType>
	<xs:complexType name="CitationType">
		<xs:sequence>
			<xs:element name="ID" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Source" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>If there is an identifier, what database
									provides it.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="URL" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CitationText" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Type" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>This maintained distinct from publication types in PubMed and established 
					by GTR curators. The default is 'general'.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Abbrev" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Corresponds to the abbreviation reported by GTR.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CommentType">
		<xs:annotation>
			<xs:documentation>A structure to support reporting unformatted content.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="DataSource" type="xs:string"/>
				<xs:attribute name="Type" type="CommentTypeList"/>
			</xs:extension>
		</xs:simpleContent>

	</xs:complexType>

	<xs:complexType name="DataSourceType">
		<xs:attribute name="DataSource" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>A standard term for the source of the information</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ID" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The identifier used by the data source</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SourceType" use="optional">
			<xs:annotation>
				<xs:documentation>Controlled terms to categorize the source of the
				information</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="laboratory"/>
					<xs:enumeration value="locus-specific database (LSDB)"/>
					<xs:enumeration value="consortium"/>
					<xs:enumeration value="resource"/>
					<xs:enumeration value="other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PublicSetType">
		<xs:sequence>
			<xs:element name="RecordStatus" default="current" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="current"/>
						<xs:enumeration value="replaced"/>
						<xs:enumeration value="removed"/>
						<xs:enumeration value="not current"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReplacedBy" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Replaces" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Title" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The title is contructed from the concatenation of the description of the variation and the phenotype.
					In the database it is extracted from the title of RCV accession</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ReferenceClinVarAssertion" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
					This element is not required becuase the PublicSetType is also used for SCV Accessions which do not have an RCV
				</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ClinVarAssertion" minOccurs="1" maxOccurs="unbounded"/>

		</xs:sequence>
		<xs:attributeGroup ref="CVIdentifiers"/>
		<xs:attribute name="DateLastUpdated"/>
	</xs:complexType>
	<xs:complexType name="ReleaseType">
		<xs:sequence>
			<xs:element ref="ClinVarSet" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Top-level element to bundle the reports of ClinVarSets.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" type="xs:string" use="required"/>
		<xs:attribute name="Dated" type="xs:date" use="required"/>
	</xs:complexType>
	<xs:complexType name="MeasureTraitType">
		<xs:sequence>
			<xs:element name="ClinVarSubmissionID" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="submitter" type="xs:string" use="optional"/>
					<xs:attribute name="title" type="xs:string" use="optional"/>
					<xs:attribute name="localKey" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Of primary use to submitters, to facilitate
							identification of records corresponding to their submissions.
							If not provided by a submitter, NCBI generates. If provided by submitter, 
							that is represented in localKeyIsSubmitted.
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="submitterDate" type="xs:date" use="optional"/>
					<xs:attribute name="localKeyIsSubmitted" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="ClinVarAccession" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="Acc" type="xs:string" use="required"/>
					<xs:attribute name="Version" type="xs:integer" use="required"/>
					<xs:attribute name="Type" use="required">
						<xs:annotation>
							<xs:documentation>RCV accessions aggregate data from each submission.
								Each submission is assigned an accession of beginning with 'SCV'
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RCV"/>
								<xs:enumeration value="SCV"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="OrgID" type="xs:int" use="optional"/>
					<xs:attribute name="DateUpdated" type="xs:date"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalSubmitters" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Optional element used only if there are multiple submitters. When there are multiple, each is listed 
						in this element. 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
					<xs:element name="SubmitterDescription" type="SubmitterType" minOccurs="1" maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordStatus" default="current" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="current"/>
						<xs:enumeration value="replaced"/>
						<xs:enumeration value="removed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClinicalSignificance" type="ClinicalSignificanceTypeSCV" minOccurs="1"/>
			<xs:element name="CustomAssertionScore" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Used to represent the scoring matrix a submitter may use to 
						evaluate clinical signficance. 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Type" type="xs:string" use="required"/>
					<xs:attribute name="Value" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Assertion" type="AssertionTypeSCV"/>
			<xs:element name="ExternalID" type="XrefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>XrefType is used to identify data source(s) and their identifiers.
					Optional because not all sources have an ID specific to the assertion. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>AttributeSet is a package to represent a unit of information,
						the source(s) of that unit, identifiers representing that unit, and comments.
				 </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ModeOfInheritance"/>
													<xs:enumeration value="Penetrance"/>
													<xs:enumeration value="AgeOfOnset"/>
													<xs:enumeration value="Severity"/>
													<xs:enumeration value="ClinicalSignificanceHistory"/>
													<xs:enumeration value="SeverityDescription"/>
													<xs:enumeration value="AssertionMethod"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ObservedIn" type="ObservationSet" maxOccurs="unbounded"/>
			<xs:element name="MeasureSet" type="MeasureSetType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TraitSet" type="TraitSetType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StudyName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StudyDescription" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="DateCreated" type="xs:date"/>
		<xs:attribute name="DateLastUpdated" type="xs:date">
			<xs:annotation>
				<xs:documentation>A modification date is independent of a version change. 
				Content generated by NCBI may change without representing a change in the version.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SubmissionDate" type="xs:date"/>
		<xs:attribute name="SubmissionName" type="xs:string" use="optional"/>
		<xs:attributeGroup ref="CVIdentifiers"/>
	</xs:complexType>
	<xs:complexType name="ReferenceAssertionType">
		<xs:sequence>
			<xs:element name="ClinVarAccession" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="Acc" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>The accession assigned by ClinVar.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Version" type="xs:integer" use="required">
						<xs:annotation>
							<xs:documentation>A new version of an SCV accession is assigned with an update
							from the submitter.  A new version of an RCV accession is assigned when the
							set of ClinVarAssertions is changed, either by a change in version or by
							addition of a new submission.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RCV"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="DateUpdated" type="xs:date"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecordStatus" default="current" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="current"/>
						<xs:enumeration value="replaced"/>
						<xs:enumeration value="removed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClinicalSignificance" type="ClinicalSignificanceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Either the value corresponding to the scoring system of the ACMG, or 
					a value representing such concepts as drug response, risk factors, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Assertion" type="AssertionTypeRCV"/>
			<xs:element name="ExternalID" type="XrefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Represents the public identifier a source may have for this record. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Many concepts in the database are represented by what ClinVar terms an AttributeSet, 
						which is an open-ended structure providing the equivalent of a type of information, the value(s) for that data type, 
						submitter(s), free text comment(s) describing that attribute, identifier(s) for that attribute, and 
						citation(s) related to that attribute.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="ModeOfInheritance"/>
													<xs:enumeration value="Penetrance"/>
													<xs:enumeration value="AgeOfOnset"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ObservedIn" type="ObservationSet" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MeasureSet" type="MeasureSetType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TraitSet" type="TraitSetType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="DateCreated" type="xs:date"/>
		<xs:attribute name="DateLastUpdated" type="xs:date"/>
		<xs:attribute name="SubmissionDate" type="xs:date"/>
		<xs:attributeGroup ref="CVIdentifiers"/>
	</xs:complexType>
	<xs:complexType name="MeasureSetType">
		<xs:sequence>
			<xs:element name="Measure" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Symbol" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Attribute" minOccurs="1" maxOccurs="1">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="AttributeType">
													<xs:attribute name="Type" use="required">

														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="HGVS, genomic, top level"/>
																<xs:enumeration value="HGVS, genomic, top level, previous"/>
																<xs:enumeration value="HGVS, genomic, top level, other"/>
																<xs:enumeration value="HGVS, genomic, RefSeqGene"/>
																<xs:enumeration value="HGVS, genomic, LRG"/>
																<xs:enumeration value="HGVS, genomic"/>
																<xs:enumeration value="HGVS, coding, RefSeq"/>
																<xs:enumeration value="HGVS, coding, LRG"/>
																<xs:enumeration value="HGVS, coding"/>
																<!--for HGVS expressions provided by submitters that are not completely qualified with 
																	accession and version-->
																<xs:enumeration value="HGVS, incomplete"/>
																<xs:enumeration value="HGVS, previous"/>
																<xs:enumeration value="HGVS, protein"/>
																<xs:enumeration value="HGVS, protein, RefSeq"/>
																<xs:enumeration value="HGVS, non-coding"/>
																<xs:enumeration value="HGVS, non-validated"/>
																<xs:enumeration value="HGVS, RNA"/>
																<xs:enumeration value="HGVS, legacy"/>
																<xs:enumeration value="HGVS, uncertain"/>
																<xs:enumeration value="HGVS"/>
																<xs:enumeration value="NonHGVS"/>
																<xs:enumeration value="Location"/>
																<xs:enumeration value="MiscellaneousDescription"/>
																<xs:enumeration value="Description"/>
																<xs:enumeration value="FunctionalConsequence"/>
																<xs:enumeration value="MolecularConsequence"/>
																<xs:enumeration value="ProteinChange1LetterCode"/>
																<xs:enumeration value="ProteinChange3LetterCode"/>
																<xs:enumeration value="ActivityLevel"/>
																<xs:enumeration value="GlobalMinorAlleleFrequency"/>
																<xs:enumeration value="AlleleFrequency"/>
																<xs:enumeration value="Suspect"/>
																<xs:enumeration value="Allelic Variant, previous"/>
																<xs:enumeration value="acceptor splice site"/>
																<xs:enumeration value="donor splice site"/>
																<xs:enumeration value="nucleotide change"/>
																<xs:enumeration value="protein change, historical"/>
																<xs:enumeration value="transcript variant"/>
																<xs:enumeration value="AbsoluteCopyNumber"/>
																<xs:enumeration value="ReferenceCopyNumber"/>
																<xs:enumeration value="CopyNumberTuple"/>
																<xs:enumeration value="COSMIC"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
													<xs:attribute name="Change" use="optional"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CytogeneticLocation" type="xs:string" minOccurs="0" maxOccurs="2">
							<xs:annotation>
								<xs:documentation>Cytogenetic location is maintained
								independent of sequence location.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SequenceLocation" type="SequenceLocationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="MeasureRelationship" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>MeasureRelationship is used to represent relationships between 
									the type of measure being represented, and other object.
									This can be gene/variant, protein/gene, etc., as in when a variation is reported to be within a gene.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="Symbol" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Attribute" minOccurs="1" maxOccurs="1">
													<xs:complexType>
														<xs:simpleContent>
															<xs:extension base="AttributeType">
																<xs:attribute name="Type" use="required">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:enumeration value="HGVS"/>
																			<xs:enumeration value="genotype"/>
																			<xs:enumeration value="Haploinsufficiency"/>
																			<xs:enumeration value="Triplosensitivity"/>
																			<xs:enumeration value="gene relationships"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:extension>
														</xs:simpleContent>
													</xs:complexType>
												</xs:element>
												<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SequenceLocation" type="SequenceLocationType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
								<xs:attribute name="Type" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="variant in gene"/>
											<xs:enumeration value="co-occurring variant"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attributeGroup ref="CVIdentifiers"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Source" type="DataSourceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Gene"/>
								<xs:enumeration value="Variation"/>
								<xs:enumeration value="Insertion"/>
								<xs:enumeration value="Deletion"/>
								<xs:enumeration value="single nucleotide variant"/>
								<xs:enumeration value="Indel"/>
								<xs:enumeration value="Duplication"/>
								<xs:enumeration value="Structural variant"/>
								<xs:enumeration value="copy number gain"/>
								<xs:enumeration value="copy number loss"/>
								<xs:enumeration value="protein only"/>
								<xs:enumeration value="Microsatellite"/>
								<xs:enumeration value="fusion"/>
								<xs:enumeration value="inversion"/>
								<xs:enumeration value="QTL"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="CVIdentifiers"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Name" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Symbol" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="HGVS, genomic, top level"/>
													<xs:enumeration value="HGVS, genomic, top level, previous"/>
													<xs:enumeration value="HGVS, genomic, top level, other"/>
													<xs:enumeration value="HGVS, genomic, RefSeqGene"/>
													<xs:enumeration value="HGVS, genomic, LRG"/>
													<xs:enumeration value="HGVS, coding, RefSeq"/>
													<xs:enumeration value="HGVS, coding, LRG"/>
													<xs:enumeration value="HGVS, coding"/>
													<xs:enumeration value="HGVS, previous"/>
													<xs:enumeration value="HGVS, protein"/>
													<xs:enumeration value="HGVS, protein, RefSeq"/>
													<xs:enumeration value="HGVS, nucleotide"/>
													<xs:enumeration value="HGVS, non-validated"/>
													<xs:enumeration value="HGVS, uncertain"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="Change" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Gene"/>
					<xs:enumeration value="Variant"/>
					<xs:enumeration value="gene-variant"/>
					<xs:enumeration value="OMIM record"/>
					<xs:enumeration value="Haplotype"/>
					<!--for complex variants with phase unknown or not reported-->
					<xs:enumeration value="Phase unknown"/>
					<!--for complex variants on different named chromosomes  (i.e. not homologs)-->
					<xs:enumeration value="Distinct chromosomes"/>
					<xs:enumeration value="CompoundHeterozygote"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="CVIdentifiers"/>
	</xs:complexType>
	<xs:complexType name="TraitSetType">
		<xs:sequence>
			<xs:element name="Trait" type="TraitType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Name" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Symbol" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" type="xs:string" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>table_type = 38</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Disease"/>
					<xs:enumeration value="DrugResponse"/>
					<xs:enumeration value="Finding"/>
					<xs:enumeration value="PhenotypeInstruction"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="CVIdentifiers"/>
	</xs:complexType>
	<xs:complexType name="TraitType">
		<xs:sequence>
			<xs:element name="Name" type="SetElementSetType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Symbol" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" type="xs:string" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TraitRelationship" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Symbol" type="SetElementSetType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AttributeSet" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Attribute" minOccurs="1" maxOccurs="1">
										<xs:complexType>
											<xs:simpleContent>
												<xs:extension base="AttributeType">
													<xs:attribute name="Type" type="xs:string" use="required"/>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Source" type="DataSourceType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="phenocopy"/>
								<xs:enumeration value="Subphenotype"/>
								<xs:enumeration value="DrugResponseAndDisease"/>
								<xs:enumeration value="co-occurring condition"/>
								<xs:enumeration value="Finding member"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attributeGroup ref="CVIdentifiers"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Source" type="DataSourceType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Disease"/>
					<xs:enumeration value="DrugResponse"/>
					<xs:enumeration value="BloodGroup"/>
					<xs:enumeration value="Finding"/>
					<xs:enumeration value="NamedProteinVariant"/>
					<xs:enumeration value="PhenotypeInstruction"/>
					
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="CVIdentifiers"/>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:annotation>
			<xs:documentation>The attribute is a general element to represent a defined set of data
				qualified by an enumerated set of types. For each attribute element, the value will
				be a character string and is optional. Source shall be used to store identifiers for
				supplied data from source other than the submitter (e.g. SequenceOntology). The data
				submitted where Type="variation" shall be validated against sequence_alternation in
				Sequence Ontology http://www.sequenceontology.org/. This is to be a generic version
				of AttributeType and should be used with extension when it is used to specify Type
				and its enumerations. </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="integerValue" type="xs:int" use="optional"/>
				<xs:attribute name="dateValue" type="xs:date" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SetElementSetType">
		<xs:sequence>
			<xs:element name="ElementValue">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="Type" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SoftwareSet">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="version" type="xs:string" use="optional"/>
		<xs:attribute name="purpose" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:complexType name="SubmitterType">
		<xs:annotation>
			<xs:documentation>A structure to support reportng the name of a submitter, its org_id, and whether primary or not
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="SubmitterName" type="xs:string"/>
				<xs:attribute name="OrgID" type="xs:int"/>
				<xs:attribute name="primary" type="xs:string" use="optional"/>
				<xs:attribute name="category" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="MethodType">
		<xs:annotation>
			<xs:documentation> Details of a method used to generate variant calls or predict/report
                functional consequence. The name of the platform should represent a sequencer or an
                array, e.g. sequencing or array , e.g. capillary, 454, Helicos, Solexa, SOLiD. This
                structure should also be used if the method is 'Curation'. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NamePlatform" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TypePlatform" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Purpose" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ResultType" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="number of occurrences"/>
						<xs:enumeration value="p value"/>
						<xs:enumeration value="odds ratio"/>
						<xs:enumeration value="variation call"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MinReported" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaxReported" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReferenceStandard" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Free text to enrich the description of the method and to
                        provide information not captured in specific fields. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Software" type="SoftwareSet" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SourceType" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="submitter-generated"/>
						<xs:enumeration value="data mining"/>
						<xs:enumeration value="data review"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MethodType" type="Methodtypelist" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MethodAttribute" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Location"/>
													<xs:enumeration value="ControlsAppropriate"/>
													<xs:enumeration value="MethodAppropriate"/>
													<xs:enumeration value="TestName"/>
													<xs:enumeration value="StructVarMethodType"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MethodResult" type="AttributeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> MethodResult is used to represent results specific to a particular method.
                        An example is a method used to validate the the variant call; the MethodResult would be pass/fail/inconclusive</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObservationSet">
		<xs:annotation>
			<xs:documentation>Documents in what populations or samples an allele or genotype has been observed 
				relative to the described trait. Summary observations can be registered per 
				submitted assertion, grouped by common citation, study type, origin, ethnicity, tissue, cell line,
				and species data. Not all options are valid per study type, but these will not be validated in the xsd.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sample" type="SampleType"/>
			<xs:element name="Method" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="MethodType">
							<xs:sequence>
								<xs:element name="Type" minOccurs="0" maxOccurs="1">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="literature only"/>
											<xs:enumeration value="reference population"/>
											<xs:enumeration value="case-control"/>
											<xs:enumeration value="clinical testing"/>
											<xs:enumeration value="in vitro"/>
											<xs:enumeration value="in vivo"/>
											<xs:enumeration value="inferred from source"/>
											<xs:enumeration value="research"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ObservedData" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This is an AttributeSet, there will be 1 attribute supported by optional citations, xrefs and comment. 
						There must be at least one ObservedData Set, but can be any number.
						For each ObservedData set the Attribute will be either decimal or string depending on type. 
						The value will be stored here, but decimals will be entered to the database as a string.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AttributeType">
										<xs:attribute name="Type" use="required">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Description"/>
													<xs:enumeration value="VariantAlleles"/>
													<xs:enumeration value="SubjectsWithVariant"/>
													<xs:enumeration value="SubjectsWithDifferentCausativeVariant"/>
													<xs:enumeration value="VariantChromosomes"/>
													<!--homozygotes or hemizygotes-->
													<xs:enumeration value="IndependentObservations"/>
													<xs:enumeration value="SingleHeterozygote"/>
													<xs:enumeration value="CompoundHeterozygote"/>
													<xs:enumeration value="Homozygote"/>
													<xs:enumeration value="Hemizygote"/>
													<xs:enumeration value="NumberMosaic"/>     
													<xs:enumeration value="ObservedUnspecified"/>
													<xs:enumeration value="AlleleFrequency"/>
													<!--subset if family data are available-->
													<xs:enumeration value="GenotypeAndMOIConsistent"/>
													<xs:enumeration value="UnaffectedFamilyMemberWithCausativeVariant"/>
													<xs:enumeration value="HetParentTransmitNormalAllele"/>
													<xs:enumeration value="CosegregatingFamilies"/>
													<xs:enumeration value="InformativeMeioses"/>
													<xs:enumeration value="SampleLocalID"/>
													<xs:enumeration value="FamilyHistory"/>
													<xs:enumeration value="NumFamiliesWithVariant"/>
													<xs:enumeration value="NumFamiliesWithSegregationObserved"/>
													
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="Severity" type="SeverityType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attributeGroup ref="CVIdentifiers"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Co-occurrenceSet" type="Co-occurrenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TraitSet" type="TraitSetType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyInfo">
		<xs:annotation>
			<xs:documentation>Structure to describe attributes of any family data in an observation.
				If the details of the number of families and the de-identified pedigree id are not available,
				use FamilyHistory to describe what type of family data is available.  Can also be used to report 'Yes' or 'No' 
				if there are no more details.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FamilyHistory" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="NumFamilies" type="xs:int" use="optional"/>
		<xs:attribute name="NumFamiliesWithVariant" type="xs:int" use="optional"/>
		<xs:attribute name="NumFamiliesWithSegregationObserved" type="xs:int" use="optional"/>
		<xs:attribute name="PedigreeID" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SampleType">
		<xs:sequence>
			<xs:element name="SampleDescription" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Description" type="CommentType" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Origin" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="germline"/>
						<xs:enumeration value="somatic"/>
						<xs:enumeration value="de novo"/>
						<xs:enumeration value="unknown"/>
						<xs:enumeration value="not provided"/>
						<xs:enumeration value="inherited"/>
						<xs:enumeration value="maternal"/>
						<xs:enumeration value="paternal"/>  
						<xs:enumeration value="uniparental"/>
						<xs:enumeration value="biparental"/>                        
						<xs:enumeration value="not-reported"/>
						<xs:enumeration value="tested-inconclusive"/>
						<xs:enumeration value="not applicable"/>
						<xs:enumeration value="experimentally generated"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ethnicity" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="GeographicOrigin" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Tissue" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CellLine" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Species" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="TaxonomyId" type="xs:int" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Age" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="age_unit" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="days"/>
										<xs:enumeration value="months"/>
										<xs:enumeration value="years"/>
										<xs:enumeration value="weeks gestation"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="Type" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="minimum"/>
										<xs:enumeration value="maximum"/>
										<xs:enumeration value="single"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Strain" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AffectedStatus" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="yes"/>
						<xs:enumeration value="no"/>
						<xs:enumeration value="not provided"/>
						<xs:enumeration value="unknown"/>
						<xs:enumeration value="not applicable"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NumberTested" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denominator, total individuals included in this observation
						set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberMales" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denominator, total males included in this observation
						set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberFemales" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denominator, total females included in this observation
						set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberChrTested" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Denominator, total number chromosomes tested. Number affected
						and unaffected are captured in the element
						NumberObserved.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gender should be used ONLY if explicit values are not available for number of males or females, and there is a need to indicate that the genders in the sample are known. 
                    </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="male"/>
						<xs:enumeration value="female"/>
						<xs:enumeration value="mixed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FamilyData" type="FamilyInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Proband" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element maxOccurs="1" minOccurs="0" name="Indication" type="IndicationType"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SourceType" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="submitter-generated"/>
						<xs:enumeration value="data mining"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Co-occurrenceType">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>This refers to the zygosity of the variant being asserted.</xs:documentation>
			</xs:annotation>
			<xs:element name="Zygosity" type="ZygosityType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AlleleDescSet" type="AlleleDescType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Count" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClinicalSignificanceType">
		<xs:sequence>
			<xs:element name="ReviewStatus" type="ReviewStatusType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>We are not providing an enumeration for the values we report for clinical significance within the xsd. 
						The values are maintained here: ftp://ftp.ncbi.nlm.nih.gov/pub/GTR/standard_terms/Clinical_significance.txt. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Explanation" type="CommentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Explanation is used only when the description is 'conflicting data from submitters'
					The element summarizes the conflict.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="DateLastEvaluated" type="xs:date" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ClinicalSignificanceTypeSCV">
		<xs:sequence>
			<xs:element name="ReviewStatus" type="ReviewStatusType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>We are not providing an enumeration for the values we report for clinical significance within the xsd. 
						The values are maintained here: ftp://ftp.ncbi.nlm.nih.gov/pub/GTR/standard_terms/Clinical_significance.txt. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Explanation" type="CommentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Explanation is used only when the description is 'conflicting data from submitters'
					The element summarizes the conflict.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XRef" type="XrefType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Citation" type="CitationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comment" type="CommentType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="DateLastEvaluated" type="xs:date" use="optional"/>
	</xs:complexType>
	<xs:complexType name="AlleleDescType">
		<xs:annotation>
			<xs:documentation>This is to be used within co-occurrence set </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="RelativeOrientation" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cis"/>
						<xs:enumeration value="trans"/>
						<xs:enumeration value="unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Zygosity" type="ZygosityType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClinicalSignificance" type="ClinicalSignificanceType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IndicationType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="Trait" type="TraitType">
				<xs:annotation>
					<xs:documentation>Represent the value for the test indication as a name of a
						trait.                     </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Name" type="SetElementSetType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Symbol" type="SetElementSetType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AttributeSet"
				type="AttributeType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Citation" type="CitationType"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="XRef" type="XrefType"/>
			<xs:element maxOccurs="1" minOccurs="0" name="Comment" type="CommentType"/>
		</xs:sequence>
		<xs:attribute name="Type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Indication"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="CVIdentifiers"/>
	</xs:complexType>
	
	<xs:simpleType name="ReviewStatusType">
		<xs:annotation>
			<xs:documentation>The values of review status are used to build the 'star ratings' 
			displayed on the ClinVar public site.  
			0 stars:  a conflict or not classified by submitter
			1 star: classified by single submitter
			2 stars: classified by multiple submitters
			3 stars: reviewed by expert panel
			4 stars: reviewed by professional society</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="not classified by submitter"/>
			<xs:enumeration value="classified by single submitter"/>
			<xs:enumeration value="classified by multiple submitters"/>
			<xs:enumeration value="reviewed by expert panel"/>
			<xs:enumeration value="reviewed by professional society"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssertionTypeAttr">
		<xs:restriction base="xs:string">
			<xs:enumeration value="variation to disease"/>
			<xs:enumeration value="variation in modifier gene to disease"/>
			<xs:enumeration value="confers sensitivity"/>
			<xs:enumeration value="confers resistance"/>
			<xs:enumeration value="variant to named protein"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CommentTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="public"/>
			<xs:enumeration value="ConvertedByNCBI"/>
			<xs:enumeration value="MissingFromAssembly"/>
			<xs:enumeration value="GenomicLocationNotEstablished"/>
			<xs:enumeration value="LocationOnGenomeAndProductNotAligned"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SeverityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="mild"/>
			<xs:enumeration value="moderate"/>
			<xs:enumeration value="severe"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AssertionTypeAttrSCVonly">
		<xs:restriction base="xs:string">
			<xs:enumeration value="variation to included disease"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AssertionTypeAttrSCV">
		<xs:union memberTypes="AssertionTypeAttr AssertionTypeAttrSCVonly"/>
	</xs:simpleType>
	<xs:complexType name="AssertionTypeRCV">
		<xs:annotation>
			<xs:documentation>Assertion is used to represent the type of relationship between the trait set and the measure set. This is stored in
						GTR.clinvar.measure_trait.relat_type.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="AssertionTypeAttr" use="required"/>
	</xs:complexType>
	<xs:complexType name="AssertionTypeSCV">
		<xs:annotation>
			<xs:documentation>Assertion is used to represent the type of relationship between the trait set and the measure set. This is stored in
						GTR.clinvar.measure_trait.relat_type.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="AssertionTypeAttrSCV" use="required"/>
	</xs:complexType>
	<xs:simpleType name="ZygosityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Homozygote"/>
			<xs:enumeration value="SingleHeterozygote"/>
			<xs:enumeration value="CompoundHeterozygote"/>
			<xs:enumeration value="Hemizygote"/>
			<xs:enumeration value="not provided"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Methodtypelist">
		<xs:restriction base="xs:string">
			<xs:enumeration value="literature only"/>
			<xs:enumeration value="reference population"/>
			<xs:enumeration value="case-control"/>
			<xs:enumeration value="clinical testing"/>
			<xs:enumeration value="in vitro"/>
			<xs:enumeration value="in vivo"/>
			<xs:enumeration value="research"/>
			<xs:enumeration value="curation"/>
			<xs:enumeration value="not provided"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="SequenceLocationType">
		<xs:annotation>
			<xs:documentation>Used to report the assembly, chromosome, and location of the measure.</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="SequenceLocationAttributes"/>
	</xs:complexType>
	<xs:attributeGroup name="SequenceLocationAttributes">
		<xs:attribute name="Assembly" type="xs:string" use="required"/>
		<xs:attribute name="Chr" type="xs:string" use="required"/>
		<xs:attribute name="Accession" type="xs:string" use="optional"/>
		<xs:attribute name="outerStart" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="innerStart" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="start" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="stop" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="innerStop" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="outerStop" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="display_start" type="xs:nonNegativeInteger" use="optional"/>
		<xs:attribute name="display_stop" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="Strand" type="xs:string" use="optional"/>
		<xs:attribute name="variantLength" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="referenceAllele" type="xs:string" use="optional"/>
		<xs:attribute name="alternateAllele" type="xs:string" use="optional"/>
		<xs:attribute name="AssemblyAccessionVersion" type="xs:string" use="optional"/>
		<xs:attribute name="AssemblyStatus" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="current"/>
					<xs:enumeration value="previous"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="CVIdentifiers">
		<xs:annotation>
			<xs:documentation>The database ID is captured as attributes when data are pulled from the database. </xs:documentation>
		</xs:annotation>
		<xs:attribute name="ID" type="xs:positiveInteger" use="optional"/>
	</xs:attributeGroup>
</xs:schema>
